# Addition

In [3]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
var["C"] = var["A"] + var["B"]
var

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

# Subtraction

In [4]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
var["C"] = var["A"] - var["B"]
var

   A  B  C
0  1  4 -3
1  2  5 -3
2  3  6 -3

# Multiplication

In [5]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
var["C"] = var["A"] * var["B"]
var

   A  B   C
0  1  4   4
1  2  5  10
2  3  6  18

# Division

In [6]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})
var["C"] = var["A"] / var["B"]
var

   A  B     C
0  1  4  0.25
1  2  5  0.40
2  3  6  0.50

# Other operations

In [8]:
import pandas as pd
var = pd.DataFrame({"A":[10,20,30],"B":[14,15,16]})
var["Python1"] = var["A"] <= 20
var["Python2"] = var["B"] >= 15
var

    A   B  Python1  Python2
0  10  14     True    False
1  20  15     True     True
2  30  16    False     True