# DataFrame

In [2]:
import pandas as pd

In [8]:
l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
var

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [7]:
print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [9]:
dic = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}
var1 = pd.DataFrame(dic)
print(var1)
print(type(var1))

   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
<class 'pandas.core.frame.DataFrame'>

In [14]:
dic = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}
var1 = pd.DataFrame(dic,columns=["a"],index=["a","b","c","d","e"])
print(var1)
print(var1["a"][2])

   a
a  1
b  2
c  3
d  4
e  5
3

C:\Users\Sudipta\AppData\Local\Temp\ipykernel_13524\3631934469.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var1["a"][2])

In [15]:
list = [[1,2,3,4,5],[6,7,8,9,10]]
var1 = pd.DataFrame(list)
print(var1)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [16]:
sr = {"s":pd.Series([1,2,3,4]),"r":pd.Series([5,6,7,8])}
var1 = pd.DataFrame(sr)
print(var1)

   s  r
0  1  5
1  2  6
2  3  7
3  4  8