# Exploring data in pandas

In [2]:
import pandas as pd
data = pd.read_excel("employee.xlsx")
print(data.head(10)) #Show mw the first 10 data

   id first_name last_name                            email      gender  \
0   1    Marleen   Bullard          mbullard0@bigcartel.com      Female
1   2     Ancell  Matyugin         amatyugin1@imageshack.us        Male
2   3     Lynsey    Gawkes  lgawkes2@scientificamerican.com      Female
3   4   Tomasina    Faiers         tfaiers3@statcounter.com      Female
4   5      Dante     Ector              dector4@webnode.com        Male
5   6   Stephani     Sisse               ssisse5@toplist.cz      Female
6   7     Newton     Cargo                  ncargo6@last.fm        Male
7   8   Whitaker  Reinbech            wreinbech7@senate.gov        Male
8   9      Roddy    Hasker         rhasker8@tripadvisor.com        Male
9  10     Yorker      Wake                ywake9@senate.gov  Polygender

        ip_address
0     59.69.139.18
1  123.210.123.106
2    82.39.239.166
3     159.34.24.98
4    42.62.215.167
5    25.72.204.119
6   48.105.106.220
7    227.92.32.241
8      67.48.55.94
9    116.160.246.3

In [3]:
print(data.tail(10)) #Show mw the last 10 data

       id first_name  last_name                        email      gender  \
990   991     Sollie  Hankinson        shankinsonri@gmpg.org        Male
991   992    Gaylene   Curedale    gcuredalerj@geocities.com      Female
992   993     Delora      McNea  dmcneark@washingtonpost.com      Female
993   994     Evonne      Dykas            edykasrl@blog.com  Polygender
994   995       Gena     Golley   ggolleyrm@miitbeian.gov.cn      Female
995   996     Merwin  Scotchmur     mscotchmurrn@answers.com        Male
996   997      Pauly     Tudgay        ptudgayro@weather.com        Male
997   998     Winona   Penvarne         wpenvarnerp@hibu.com      Female
998   999      Derek   Haggarty        dhaggartyrq@google.pl        Male
999  1000       Otes   Larkings    olarkingsrr@economist.com        Male

          ip_address
990      63.67.65.78
991    28.90.192.144
992     112.50.27.49
993   179.65.190.144
994   28.137.215.241
995   145.131.74.174
996   129.94.235.143
997    43.111.57.233
998    69.12.108.147
999  240.127.198.136

In [5]:
print(data.info()) #Show me the all information of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
 4   gender      1000 non-null   object
 5   ip_address  1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
None

In [6]:
print(data.describe()) #It gives me the all statistical data

                id
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [8]:
print(data.isnull().sum()) #Show me columnwise where data is null or not filled

id            0
first_name    0
last_name     0
email         0
gender        0
ip_address    0
dtype: int64