# Handle duplicate values

In [13]:
import pandas as pd
data = pd.read_csv("customer.csv")
data

,id,firstname,lastname,email,email2,profession
0,100,Laurene,Tamar,Laurene.Tamar@yopmail.com,Laurene.Tamar@gmail.com,developer
1,101,Sara-Ann,Oster,Sara-Ann.Oster@yopmail.com,Sara-Ann.Oster@gmail.com,doctor
2,102,Dulcinea,Sikorski,Dulcinea.Sikorski@yopmail.com,Dulcinea.Sikorski@gmail.com,doctor
3,103,Candy,Geffner,Candy.Geffner@yopmail.com,Candy.Geffner@gmail.com,worker
4,104,Arlina,Hamil,Arlina.Hamil@yopmail.com,Arlina.Hamil@gmail.com,developer
...,...,...,...,...,...,...
996,1096,Cassondra,Shanley,Cassondra.Shanley@yopmail.com,Cassondra.Shanley@gmail.com,worker
997,1097,Wanda,Kress,Wanda.Kress@yopmail.com,Wanda.Kress@gmail.com,police officer
998,1098,Shaylyn,Urias,Shaylyn.Urias@yopmail.com,Shaylyn.Urias@gmail.com,firefighter
999,1099,Kirstin,Gualtiero,Kirstin.Gualtiero@yopmail.com,Kirstin.Gualtiero@gmail.com,police officer
1000,1099,Kirstin,Gualtiero,Kirstin.Gualtiero@yopmail.com,Kirstin.Gualtiero@gmail.com,police officer

In [14]:
print(data.duplicated()) #Show mw the duplicate value

0       False
1       False
2       False
3       False
4       False
        ...
996     False
997     False
998     False
999     False
1000     True
Length: 1001, dtype: bool

In [15]:
print(data["id"].duplicated().sum()) #Show mw the no of duplicate value

1

In [16]:
print(data.drop_duplicates("id")) #It drops all the duplicate id

       id  firstname   lastname                          email  \
0     100    Laurene      Tamar      Laurene.Tamar@yopmail.com
1     101   Sara-Ann      Oster     Sara-Ann.Oster@yopmail.com
2     102   Dulcinea   Sikorski  Dulcinea.Sikorski@yopmail.com
3     103      Candy    Geffner      Candy.Geffner@yopmail.com
4     104     Arlina      Hamil       Arlina.Hamil@yopmail.com
..    ...        ...        ...                            ...
995  1095     Joelly   Sidonius    Joelly.Sidonius@yopmail.com
996  1096  Cassondra    Shanley  Cassondra.Shanley@yopmail.com
997  1097      Wanda      Kress        Wanda.Kress@yopmail.com
998  1098    Shaylyn      Urias      Shaylyn.Urias@yopmail.com
999  1099    Kirstin  Gualtiero  Kirstin.Gualtiero@yopmail.com

                          email2      profession
0        Laurene.Tamar@gmail.com       developer
1       Sara-Ann.Oster@gmail.com          doctor
2    Dulcinea.Sikorski@gmail.com          doctor
3        Candy.Geffner@gmail.com          worker
4         Arlina.Hamil@gmail.com       developer
..                           ...             ...
995    Joelly.Sidonius@gmail.com          worker
996  Cassondra.Shanley@gmail.com          worker
997        Wanda.Kress@gmail.com  police officer
998      Shaylyn.Urias@gmail.com     firefighter
999  Kirstin.Gualtiero@gmail.com  police officer

[1000 rows x 6 columns]